.page-not-found{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media screen and (max-width:767px) {
        padding: 6.5rem 0;
    }
    h1{
        padding-top: 7rem;
    }
    a{
        margin: 3rem 0 ;
        text-decoration: underline;
        color: var(--dark-theme-green);
    }
}