.about{
    padding: 3rem 0;
    place-items: center;
    .right{
    display: flex;
    justify-content: center;
        img{
        border-radius: 50%;
        border: 2px solid white;
        width: 380px;
        height: 380px;
        @media screen and  (max-width: 768px) {
            margin-top: 2rem;
            width: 250px;
            height: 250px;
        }
        }
    }
    .left{
        span{
            line-height: 1.3;
            color: var(--dark-theme-gray);
            span{
                color: var(--dark-theme-green);
            }
        }
    }
}