.arrow{
    span{
        margin-left: -2.5rem;
        @media screen and (max-width:767px) {
            margin-left: -2.8rem;
            font-size: 30px;
            position: absolute;
            top: 25%;
        }
    }
    .ant-progress-text{
        display: none;
        span{
            svg{
                display: none;
            }
        }
    }
    :where(.css-dev-only-do-not-override-14qglws).ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
        stroke: var(--dark-theme-green)!important;
    }
}