.footer{
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    text-align: center;
    .navigator{
        display: flex;
        gap: 20px;
        place-self: center;
        a{
            color: var(--dark-theme-green);
            text-decoration: none;
            cursor: pointer;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    p{
        margin: 0.5rem;
    }
    span{
        margin-bottom: 0.5rem;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        place-content: center;
        padding-bottom: 10px;
        .social{
            display: flex;
            place-content: center;
            gap: 20px;
            margin: 10px;
            svg{
                font-size: 20px;
                fill: var(--dark-theme-green);
            }
        }
        span{
            font-size: 14px;
            line-height: 1.2;
        }
    }
}
@media screen and (max-width:767px) {
    .footer{
        padding-top: 0;
    }
}