.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .header-wrapper{    
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    border-bottom: 0.25px solid var(--dark-theme-gray);
    .header-right{
        display: inline-flex;
        gap: 10px;
        .nav-link{
            padding: 5px 10px;
            cursor: pointer;
        &:hover{
            background-color: #141414;
        }
    }
    }
    .logo-wrapper{
        padding: 5px;
        span{
        }
    }
}
}