.project{
    padding: 9rem 0 3rem 0;
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
        }
    .heading {
        margin: 0;
    }
    .filter{
        display: flex;
        place-items: center;
        gap: 10px;
        .filter-option{
            width: 200px;
            .ant-select-selector{
                .ant-select-selection-item{
                    padding: 0 10px;
                    font-size: 16px;
                }
            }
        }
    }
    }
    .heading.dark {
        color: var(--dark-theme-green);
    }
    .project-card-wrapper{
        padding: 1.5rem ;
        .slider-animation{
        .project-card{
            .card{
            border: 1px solid #ddd;
            margin: 10px;
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            .card-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 20px;
                   }
                h3{
                    font-size: 18px;
                    @media screen and (max-width: 767px) {
                        margin-bottom: 5px;
                    }
                }
                .live-wrapper{
                    display: flex;
                    place-items: center;
                    gap: 10px;
                    color: var(--dark-theme-green);
                    cursor: pointer;
                    @media screen and (max-width: 767px) {
                        font-size: 12px;
                    }
                    .live{
                        border-radius: 50%;
                        width: 10px;
                        height: 10px;
                        background-color: var(--dark-theme-green);
                        @media screen and (max-width: 767px) {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
            }
            span{
                font-size: 16px;
                color: var(--dark-theme-gray);
            }
            .tech{
                margin-top: 10px;
                .dark{
                    color: var(--dark-theme-green);
                }
            }
            .footer-wrapper{
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            button{
                cursor: pointer;
                width: 100px;
                padding: 8px 10px;
                border-radius: 5px;
                color: white;
                &.dark{
                    background-color: #141414;
                    border: 1px solid var(--dark-theme-green);
                    }
            }
            .disabled{
                opacity: 0.4;
                cursor: not-allowed;
            }
            .dark svg{
                fill: var(--dark-theme-green);
            }
        }
       }
       .card:hover{
        border: 1px solid var(--dark-theme-green);
       }
    }
}
    }
}
@media screen and (max-width: 767px) {
    .project{
        padding: 5rem 0 0 0;
    }
}

.ant-tooltip-content>.ant-tooltip-inner{
    background-color: white;
    color: black;
}