.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    .header-wrapper{    
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    border-bottom: 0.25px solid var(--dark-theme-gray);
    @media screen and (max-width:767px) {
        display: block;
        border-bottom: none;
    }
    .header-right{
        display: inline-flex;
        gap: 10px;
        @media screen and (max-width:767px) {
            flex-direction: column;
                width: 100%;
                padding-top: 1rem;
        }
        .nav-link{
            padding: 5px 10px;
            cursor: pointer;
        &:hover{
            background-color: #141414;
        }
    }
    }
    .cross{
        position: absolute;
        right: 10%;
        top: 16%;
    }
    .menu{
        position: absolute;
        right: 10%;
        top: 38%;
    }
    .logo-wrapper{
        display: flex;
        gap: 2px;
        align-items: center;
        padding: 5px;
        @media screen and (max-width:767px) {
        border-bottom: 0.25px solid var(--dark-theme-gray);
        padding-bottom: 0.75rem;
        }
    }
}
}