:root {
    --dark-theme-black: #000000;
    --dark-theme-green: #3CCF91;
    --dark-theme-white: #FFFFFF;
    --dark-theme-gray: #8F9094;

    --font-size-heading: 88px;
    --font-size-paragraph: 32px;
    --font-size-span: 18px;
}

.dark {
    background-color: var(--dark-theme-black);
    color: var(--dark-theme-white);
}

.App {
    width: 100%;
    .container {
        width: 80%;
        margin: auto;
    }
}