:root {
    --dark-theme-black: #000000;
    --dark-theme-green: #3CCF91;
    --dark-theme-white: #FFFFFF;
    --dark-theme-gray: #8F9094;

    --font-size-heading: 88px;
    --font-size-heading-mob: 50px;
    --font-size-paragraph: 32px;
    --font-size-paragraph-mob: 22px;
    --font-size-span: 18px;
    --font-size-span-mob: 14px;
}

.dark {
    background-color: var(--dark-theme-black);
    color: var(--dark-theme-white);
}

.App {
    padding: 0 10rem;
    @media screen and (max-width:767px) {
    padding: 0 2rem;
    }
}

p{
    font-size: var(--font-size-paragraph);
    @media screen and (max-width:767px) {
        font-size: var(--font-size-paragraph-mob);
    }
}

span{
    font-size: var(--font-size-span);
    @media screen and (max-width:767px) {
        font-size: var(--font-size-span-mob);
    }
}

.ant-row,.ant-col{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-left: 0!important;
    margin-right: 0!important;
}